.row.content {height: 1600px;}
.row.content1 {
  height: 1000px;
}
.sidenav {
  background-color:#FFEA00;
  height: 100%;
}
.sidenav li a{
  color: #00458A;
  font-weight: bold;
  font-size: 20px;
  font-family: 'CODE'; src: url(../font/CODE_Bold.otf);
}
.sidenav img{
  padding-bottom: 5px;
}
.slide img{
  width: 100%;
}
.text{
  padding: 40px;
}
.text h1{
  text-align: center;
  font-family: 'CODE'; src: url(../font/CODE_Bold.otf);
  color: #00458A;
}
.text h3{
  text-align: center;
  font-family: 'CODE'; src: url(../font/CODE_Bold.otf);
  color: #00458A;
}
footer{
  background-color: #FFEA00;
  padding: 15px;
}
footer p{
  text-align: center;
  font-weight: bold;
  color: #00458A;
  font-family: 'CODE'; src: url(../font/CODE_Bold.otf);
}
/*form login*/
.form-login{
    margin-top: 15%;
}
.outter-form-login {
    padding: 10px;
    background: #EEEEEE;
    position: relative;
    border-radius: 5px;
}
.outter-form-login img{
  padding-bottom: 15px;
}
.inner-login .form-control {
    background: #D3D3D3;
}
.forget {
    margin-top: 20px;
    color: #ADADAD;
}
.help-block{
  font-style: italic;
}
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .sidenav h1{
    text-align: center;
  }
  .sidenav li a{
    text-align: center;
  }
  .row.content {height: auto;}
  .row.content1 {height: auto;}
  .form-login{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
  }
}
